body{
    margin-top: 70px;
}
.main-content{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
}
.content-block{
    margin: 20px;
    font-size: 12px;
    font-weight: 700;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

label.error { color: red; font-size: 10px; font-style: italic; }
input.error {
    border: 1px solid red;
}
form.cmxform .gray * {
    color: gray;
}
#frm label.error { display: inline; margin-left: 10px; width: auto; }
.grey { opacity: 0.5; } 
.glyphicon{ color: black; }
